# Ignore virtual environment
.venv/

# Ignore data directory (optional, if you're storing raw or processed data here)
data/
*.csv

# Ignore service account key and sensitive files
learning-pipeline-key.json

# Ignore Python cache files
__pycache__/
*.pyc
